{% extends "MainPage.html" %}


{% block content %}

<!--<link rel="stylesheet" type="text/css" href="../static/style1.css">-->

<link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1LlNIzJp1y7lT-c3x9-S5a6olDu86ziLf">

<br><br><br><br><br>
<div align="center"> <p>Review Over Your Comment : {{getinfo}}</p></div><br>

<!--<div align="center"><img src="../static/invalid.jpg"  id ="reactimg1"><br><br>-->

<div align="center"><img src="https://i.ibb.co/0qSV5RL/invalid.jpg" id ="reactimg1"><br><br>


<!--<div align="center"><a href='./MainPage.html'><p style="color:#EC2222">Wanna Try Again, Click here to Go Back</p></a></div>-->

<div align="center"><p style="color:#EC2222">Wanna Try Again, <a href='./MainPage.html'>Click here</a> to Go Back</p></div>

{% endblock %}
